apistar==0.3.9
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.9
coreapi==2.3.3
coreschema==0.0.4
idna==2.6
itypes==1.1.0
Jinja2==2.11.3
MarkupSafe==1.0
psycopg2==2.7.3.2
py==1.4.34
pytest==3.2.3
requests==2.18.4
SQLAlchemy==1.1.15
uritemplate==3.0.0
urllib3==1.22
Werkzeug==0.12.2
whitenoise==3.3.1
